<h1>Создать заявку</h1>
<form class="form-admin">
    <label class="label" for="post">Выберите должность
        <select name="post" id="post">
            <option value="a">Грузчик</option>
            <option value="b">Продавец</option>
            <option value="c">Касир</option>
            <option value="d">Оператор</option>
            <option value="e">Повар</option>
        </select>
    </label>
    <label class="label"> Выберите дату подработки
        <input type="date" name="date">
    </label>
    <button class="btn-from" type="submit">Создать заявку</button>   
</form>
<ul class="zayavka"></ul>